extends layout 

block scripts
	//script(src="menu_form.js") 

block content 
	h1= title

	form(method="POST")
		div
			label Brand Name
			input(type="text", name="menu_name" value=menu?menu.MenuName:"" required) 

		div
			div.foods

			div.allFoods
				h3 Add Food
			
			each food of allFood 
				div
					- const isChecked = menu?menu.FoodAvailable.includes(food._id):false
					label #{food.FoodName}
					input(type="checkbox", value=food._id, name="food_items" checked=isChecked)
		
		button(type="submit") Submit