extends layout 

block content 
	h1= title

	div
		form(method="POST")
			.restaurant_name
				label Restaurant Name
				- const resName=restaurant?restaurant.RestaurantName:""
				input(type="text", name="restaurant_name" value=resName)
			
			.menu
				select(name="menu" required) 
					option(value="none") select menu
					each menu in allMenu
						- const menu_ID = menu.id
						- const rest_ID = restaurant?restaurant.MenuID:""
						option(value=`${menu._id}` selected=restaurant&&rest_ID==menu_ID) #{menu.MenuName}
			
			.supplier
				select(name="supplier" required)
					option(value="none") select supplier 
					each supplier of allSuppliers
						- const rest_AR = restaurant?restaurant.SupplierList[0]:""
						- const rest_SL = `${rest_AR}`
						- const supp_ID = `${supplier._id}`
						- const checkIfChecked = restaurant&&rest_SL==supp_ID

						option(value=`${supplier._id}` selected=checkIfChecked) #{supplier.SupplierName}

			.address
				label Address
				- const resAdd=restaurant?restaurant.Address:""
				input(type="text", name="address" value=resAdd)
			
			.button
				button(type="submit") Submit! 

block footer
	br
	div
		a(href="/restaurant/") All Restaurants