extends layout 

block content 
	h1= title

	div
		form(method="POST")
			.restaurant_name
				label Restaurant Name
				- const resName=restaurant?restaurant.RestaurantName:""
				input(type="text", name="restaurant_name" value=resName)
			
			.menu
				select(name="menu") 
					option(value="none") select menu
					each menu in allMenu
						- const menu_ID = menu.id
						- const rest_ID = restaurant.MenuID
						option(value=`${menu._id}` selected=restaurant&&rest_ID==menu_ID) #{menu.MenuName}
			
			.supplier
				select(name="supplier")
					option(value="none") select supplier 
					each supplier of allSuppliers
						- const rest_SL = `${restaurant.SupplierList[0]}`
						- const supp_ID = supplier._id

						option(value=`${supplier._id}` selected=restaurant&&rest_SL==supp_ID) #{supplier.SupplierName}

			.address
				label Address
				- const resAdd=restaurant?restaurant.Address:""
				input(type="text", name="address" value=resAdd)
			
			.button
				button(type="submit") Submit! 

block footer
	br
	div
		a(href="/restaurant/") All Restaurants