extends layout

block content 
	h1= title
	
	div
		a(href="/restaurant/add") Add Restaurant

	div
		each restaurant of allRestaurants
			p= restaurant

			form(method="post") 
				input(type="hidden", name="delete" value=`${restaurant._id}`)
				button(type="submit") Delete Restaurant

			br
			a(href=`/order/${restaurant._id}/`) orders from #{restaurant.RestaurantName}
			
			br
			a(href=`/restaurant/update/${restaurant._id}`) Update
	
	div
