extends layout.pug 

block content 
	h1= title

	a(href="/supplier") all suppliers

	form(method="POST")
		.supplier_name 
			label(for="supplier_name") Supplier Name
			input(type="text", name="supplier name" value=supplier?supplier.SupplierName:"")
		
		.ingredients 
			label Ingredients 
			//textarea(name="ingredients" value=supplier?supplier.IngredientsAvailable:"") 
			textarea(name="ingredients")= supplier ? supplier.IngredientsAvailable : ""
		
		.phone_number 
			label Phone Number 
			input(type="text" name="phone number" value=supplier?supplier.SupplierPhone:"")


		button(type="submit") Submit!